.container {
    background-color: #dae0f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-header {
    display: flex;
    justify-content: flex-start;
}

.products-header h1 {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

.products-header .btn-create {
    flex: 0 1 auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 3rem;
    height: 2.0rem;
    width: 2.0rem;
    padding: 0.5rem;
    background-color: #dae0f5;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.products-header .btn-create:hover {
    border-color: black;
    transform: scale(1.1);
}

.products {
    background-color: white;
    width: 60%;
    height: 600px;
    overflow-y: scroll;
    border-radius: 1rem;
}

.product {
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product p {
    min-width: 200px;
    max-width: 200px;
    text-align: start;

    font-size: 1rem;
    font-weight: bold;
    color: #64697b;
}

/* Table styles */

.btn-trash, .btn-edit {
    padding: .2rem;
    margin: .2rem;
    width: 2.0rem;
    cursor: pointer;
    background-color:#dae0f5;
    border: 1px solid purple;
    border-radius: 5px;
}

.btn-trash:hover, .btn-edit:hover {
    transform: scale(1.1);
}
.table-wrapper {
    margin: 30px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td,
.table th {
    text-align: center;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

@media screen and (min-width: 280px) {
    .products-header .btn-create {
        margin-top: 3.0rem;
    }
}